@import "reset";

section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.the-pen {
  background-image: url(./img/the-pen.svg);
}

.is-mightier {
  background-image: url(./img/is-mightier.svg);
  background-color: #000;
}

.than {
  background-image: url(./img/than.svg);
}

.the-sword {
  background-image: url(./img/the-sword.svg);
  background-color: #000;
}

.icon {
  background-image: url(./img/end.svg);
  background-color: #30aade;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

footer img {
  width: 40px;
  transition: all 0.3s ease-in-out;
}

footer img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.2));
}
